/* Header hero + nav */

#header {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url(/images/LC_012.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 250px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #000cff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #404aff;
}

/* Mobile nav icon */
nav .fas {
  display: none;
}

/* React mobile menu open state */
#sidemenu.open {
  right: 0;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(/images/phone.png);
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul {
    background: #000cff;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
